.home>ul.menu {
  display: flex;
  margin-bottom: 20px;
}

.home>ul.menu li {
  margin-right: 10px;
}

.home>ul.menu li button {
  padding: 5px 10px;
}

.home>ul.menu li.select button {
  color: #fff;
  background-color: #0094ff;
  border-color: #0094ff
}